.text {
  font-size: 1.6rem;
  line-height: 1.6rem;

  &.p + &.p {
    margin-top: 1.6rem;
  }

  &.span + &.span {
    margin-left: 0.8rem;
  }

  &.dark {
    color: var(--color-text-dark);
  }

  &.light {
    color: var(--color-text-light);
  }
}
